{% extends 'base.html.twig' %}

{% block body %}
<div class="container main-content">
    <div class="col-xs-1">
        {% block nav %}
        {% endblock %}
    </div>
    <div class="col-xs-11">
        <p>Hello World</p>
    </div>
</div>
{% endblock %}
