<p>A request to recover your password has been submitted.</p>

<p>To recover your password, follow the link below:</p>

<p>{{ recover_url }}</p>

<p>This link will be valid for about one hour.</p>

<p>If you did not submit this request, it could be a simple mistake
and no action is needed.</p>
